.ajs-notify_error {
    color: #292929;
    background-color: #ff5757;
    font-size: 30px;
    width: 500px !important;
    text-align: center;
    font-weight: 500;
    top: 50px !important;
}

.ajs-notify_success {
    color: #292929;
    background-color: #1eaf00;
    font-size: 30px;
    width: 500px !important;
    text-align: center;
    font-weight: 500;
    top: 50px !important;
}