<button type="button" id="ban_button" class="btn btn-danger" data-toggle="modal" data-target="#ban_modal">Ban</button>

<!-- Modal -->
<div class="modal fade" id="ban_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ban Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <div class="row">
            <div class="col-md-3">
            <input style="width: 100% !important;" type="text" class="form-control" id="ban_numeric" value="5"></input>
            </div>
            <div class="col-md-4">
            <select class="custom-select mr-sm-2 option_font_large" id="ban_type">
                <option value="default_option" disabled selected>Ban type</option>
                <option value="IP" selected>IP Address</option>
                <option value="UID">Client UID</option>
            </select>         
            </div>
            <div class="col-md-4">
            <select class="custom-select mr-sm-2 option_font_large" id="ban_format">
                <option value="default_option" disabled selected>Ban format</option>
                <option value="1" selected>Seconds</option>
                <option value="60">Minutes</option>
                <option value="3600">Hours</option>
                <option value="86400‬">Days</option>
                <option value="0">Permanent</option>
            </select>
            </div>
            </div>
          </div>
          
          <div class="form-group">
            <textarea class="form-control" id="ban_reason" placeholder="Ban reason">Ban reason</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" onClick='ban_client()'>Ban</button>
      </div>
    </div>
  </div>
</div>

<script>

    function ban_client() {
        let ban = new Ban();  
        var el;
        // Get ban numeric
        el = document.getElementById("ban_numeric");
        ban.numeric = el.value;
        // Get ban type
        el = document.getElementById("ban_type");
        ban.type = el.value;
        // Get ban format
        el = document.getElementById("ban_format");
        ban.format = el.options[ el.selectedIndex ].value;
        // Get ban reason
        el = document.getElementById("ban_reason");
        ban.reason = el.value;
        // Get ban recipient.
        el = document.getElementById("select_client");
        ban.recipient = el.options[ el.selectedIndex ].value;
        // Transfer into json obj
        var ban_json = JSON.stringify(ban);
        // Make ajax request.
        var request = $.ajax({
          url: api_url,
          type: 'post',
          data: { 
            "function": 'Ban_Client',
            "ban": ban_json
          },
        });

        request.done( function (response) {
          response = JSON.parse(response);
          alertify.set('notifier','position', 'top-center');
          if (response.success) {
            alertify.notify("Successfully added ban rule! ban id: " + response.data.banid, 'notify_success', 3);
          } else {
            var errors = response.errors;
            errors.forEach(alertify_notify_error);
          }
        });

        request.fail( function ( jqXHR, textStatus) {
            console.log( 'Sorry: ' + textStatus );
        });
    }
</script>