<div class="col-md-12" id="main">
  <template id="dots_menu">
    <div class="test">
      <div class="dots">
        <div class="dot"></div>
        <div class="dot"></div>
        <div class="dot"></div>
      </div>
      <div class="contenting">
        <p class="cont_p" id="edit_dot_btn" data-toggle="modal" data-target="#edit_modal">Edit</p>
        <p class="cont_p delete_ban_btn">Delete</p>
        <p class="cont_p" id="info_dot_btn" data-toggle="modal" data-target="#info_modal">Info</p>
        <p class="cont_p cont_close">Close</p>
      </div>
    </div>
  </template>

<!-- Info Modal -->
<div class="modal fade" id="info_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ban Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group" id="info_body">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="edit_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ban Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <div class="row">
              <div class="col-md-12">
                <input style="width: 100% !important;" type="text" class="form-control" id="ban_recipient" value="IP/UID/Nickname"></input>
              </div>
              </div>
          </div>

          <input type="hidden" id="ban_id" value="1337">

          <div class="form-group">
            <div class="row">
            <div class="col-md-3">
            <input style="width: 100% !important;" type="text" class="form-control" id="ban_numeric" value="5"></input>
            </div>
            <div class="col-md-4">
            <select class="custom-select mr-sm-2 option_font_large" id="ban_format">
                <option value="default_option" disabled selected>Ban format</option>
                <option value="1" selected>Seconds</option>
                <option value="60">Minutes</option>
                <option value="3600">Hours</option>
                <option value="86400‬">Days</option>
                <option value="0">Permanent</option>
            </select>
            </div>
            <div class="col-md-4">
              <select class="custom-select mr-sm-2 option_font_large" id="ban_type">
                  <option value="default_option" disabled selected>Ban type</option>
                  <option value="IP" selected>IP Address</option>
                  <option value="UID">Client UID</option>
                  <option value="Name">Name</option>
              </select>         
              </div>
            </div>
          </div>
          
          <div class="form-group">
            <textarea class="form-control" id="ban_reason" placeholder="Ban reason">Ban reason</textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning edit_ban_btn" onClick="edit_ban_rule();">Edit</button>
      </div>
    </div>
  </div>
</div>

</div>

<style>

  .cont_p {
    margin: 0 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
  }

  .cont_p:nth-child(4) {
    border-top: 2px solid #cacaca;
  }

  .cont_p:hover {
    background-color: #b7b7b796;
  }

  .contenting {
    display: none;
  }

  .contenting_active {
    font-size: 18px;
    display: block;
    background-color: #e2e2e221;
    box-shadow: 2px 2px 5px 2px #888888;
  }

  .dot {
    width: 6px;
    height: 6px;
    background: gray;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .dots {
    display: inline-block;
  }

  .dots_inactive {
    display: none;
  }

  .dots_active {
    display: block;
  }

  .dots:hover {
    background-color: rgb(236, 236, 236);
  }

  .perm_ban {
    color: red;
    font-weight: 500;
  }

  .td_tint:hover {
    background-color: #E1E1E1;
  }

  .ban_reason {
    font-style: italic;
    font-size: 14px;
  }

  .h1_empty {
    color: #a7a7a7;
    text-align:center;
  }

  .no_bullets {
    list-style-type:none;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 15px;
  }

</style>

<script>

//I'm using "click" but it works with any event
document.addEventListener('click', function(event) {
  // Click was outside of this element
  var specifiedElements = document.querySelectorAll('.test');
  var outside_dots = 1;
  specifiedElements.forEach(element => {
    if (element.contains(event.target)) outside_dots = 0;
  });

  var modals = document.querySelectorAll(".modal");
  var outside_modals = 1;
  modals.forEach(element => {
    if (element.contains(event.target)) outside_modals = 0;
  });

  if (outside_dots && outside_modals) {
    specifiedElements = document.querySelectorAll('.test');
    specifiedElements.forEach(element => {
      var content = element.querySelector(".contenting");
      content.classList.remove("contenting_active");
      var dots = element.querySelector('.dots');
      dots.classList.remove("dots_inactive");
    });
  }
});

fetch_ban_list();

function fetch_ban_list() {
  // Make ajax request.
  var request = $.ajax({
    url: api_url,
    type: 'post',
    data: { 
      "function": 'Get_Ban_List'
    },
  });

  // Success: bool
  /* Erros: array
  {
    [integer ErrorID] => 1281
    [string Message] => database empty result set
  }
  */
  /* Data: array
  * {
  *  [banid] => 131
  *  [ip] => 1.2.3.4
  *  [name] => eugen
  *  [uid] => IYAntAcZHgVC7s3n3DNWmuJB/aM=
  *  [mytsid] =>
  *  [created] => 1286660391
  *  [duration] => 0
  *  [invokername] => Par0noid
  *  [invokercldbid] => 2086
  *  [invokeruid] => nUixbsq/XakrrmbqU8O30R/D8Gc=
  *  [reason] => insult
  *  [enforcements] => 0
  *  [lastnickname] => eugen
  */ 
  request.done( function (response) {
    response = JSON.parse(response);
    // If ban list is empty:
    if (response.success == false) {
      var h1 = document.createElement("h1");
      h1.innerHTML = "Ban list is empty."
      h1.className = "h1_empty";
      document.getElementById("main").appendChild(h1);
      return;
    }
    // Load ban list
    var ban_list = response.data;
    var table = document.createElement("table");
    table.className = "table";
    table.id = "ban_table";
    var thead = document.createElement("thead");
    var tbody = document.createElement("tbody");
    var headRow = document.createElement("tr");
    ["User", "Date", "By", "Reason", "Expires", "Action"].forEach(function(el) {
      var th = document.createElement("th");
      th.appendChild(document.createTextNode(el));
      headRow.appendChild(th);
    });
    thead.appendChild(headRow);
    table.appendChild(thead); 
    table.appendChild(tbody); 
    document.getElementById("main").appendChild(table);

    ban_list.forEach(function(ban_row) {
        var row = tbody.insertRow(-1);
        row.value = ban_row.banid;
        row.className = "td_tint";
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        // If ban is for ip, the last nickname property is empty.
        if (ban_row.name) {
          cell1.innerHTML = ban_row.name;
        } else if (ban_row.ip) {
          cell1.innerHTML = ban_row.ip;
        } else if (ban_row.uid) {
          if (ban_row.lastnickname) {
            cell1.innerHTML = ban_row.lastnickname;
          } else {
            cell1.innerHTML = ban_row.uid;
          }
        }
        
        cell1.id = "td_nickname";
        // Enabling toolips
        var tooltip_list = document.createElement("ul");
        tooltip_list.className = "no_bullets";
        for (prop in ban_row) {
          var node = document.createElement("li");
          node.innerHTML = prop + ": " + ban_row[prop]; 
          tooltip_list.appendChild(node);      
        }
        var template = document.getElementById('template');
        tippy('#td_nickname', {
          content: tooltip_list,
          interactive: true,
        });

        var created = new Date(parseInt(ban_row.created)*1000);
        cell2.innerHTML = days_formated(created.getDate()) +  "." + month_formated(created.getMonth()) + "." + created.getFullYear() + ", " + hours_formated(created.getHours()) +":"+ minutes_formated(created.getMinutes());
        cell3.innerHTML = ban_row.invokername;
        cell4.innerHTML = ban_row.reason;
        cell4.className = "ban_reason";
        cell4.id = "rand";
        // If ban is permament.
        if (ban_row.duration == 0) {
          cell5.innerHTML = "Never";
          cell5.className = "perm_ban";
        } else {
          var expires = parseInt(ban_row.created) + parseInt(ban_row.duration);
          var expiry_date = new Date(expires*1000);
          expiry_date = new Date(expires*1000);
          cell5.innerHTML = days_formated(expiry_date.getDate()) +  "." + month_formated(expiry_date.getMonth()) + "." + expiry_date.getFullYear() + ", " + hours_formated(expiry_date.getHours()) +":"+ minutes_formated(expiry_date.getMinutes());
        }

        var template = document.querySelector('#dots_menu');
        var clone = document.importNode(template.content, true);
        var test = clone.querySelector('.test');
        var content_container = clone.querySelector('.contenting');
        var dots = clone.querySelector('.dots');
        test.id = ban_row.banid;
        // Close other dotted menus, while clicking on other dots.
        dots.onclick = (function (element, el2, el3) {
            return function () {
              dots.classList.add("dots_inactive");
              content_container.classList.add("contenting_active");
              var all_dotted_menus = document.querySelectorAll(".test");
                var active_contents = document.querySelectorAll(".contenting_active");
                
                if (active_contents.length < 2) return;
                active_contents.forEach(content => {
                  if (test.id == content.parentNode.id) return;
                  content.classList.remove("contenting_active");
                });

                var dots_all = document.querySelectorAll(".dots_inactive");
                dots_all.forEach(dot_menu => {
                  if (test.id == dot_menu.parentNode.id) return;
                  dot_menu.classList.remove("dots_inactive");
                });    

            };
          })(dots, test, content_container);

        // Close button on three dotted menu.
        var close_contener = clone.querySelector('.cont_close');
        close_contener.onclick = (function (element, el2, el3) {
            return function () {
              var all_dotted_menus = document.querySelectorAll(".test");
              all_dotted_menus.forEach(element => {
                if (element.id != test.id) return;
                var dots = element.querySelector(".dots");
                dots.classList.remove("dots_inactive");
                var content = element.querySelector(".contenting");
                content.classList.remove("contenting_active");
              });
            };
          })(dots, test, content_container);

        // Apply button delete ban event.
        var delete_btn = clone.querySelector(".delete_ban_btn");
        delete_btn.onclick = (function (element) {
          return function () {
            delete_ban_rule(ban_row.banid);
          };
        })(ban_row.banid);

        // On dotted edit button click.
        var edit_dot_btn = clone.querySelector("#edit_dot_btn");
        edit_dot_btn.onclick = (function (element) {
          return function () {
            // Populate edit modal
            var template_numeric = document.querySelector('#ban_numeric');
            
            var epoch_seconds_now = Math.round(new Date().getTime() / 1000);
            var elapsed = epoch_seconds_now - ban_row.created;
            var remaining = ban_row.duration - elapsed;
            template_numeric.value = remaining;

            var template_ban_reciever = document.querySelector('#ban_recipient');
            var template_ban_type = document.querySelector('#ban_type');

            if (ban_row.ip) {
              template_ban_reciever.value = ban_row.ip;
              template_ban_type.value = "IP";
            } else if (ban_row.uid) {
              template_ban_reciever.value = ban_row.uid;
              template_ban_type.value = "UID";
            } else if (ban_row.name) {
              template_ban_reciever.value = ban_row.name;
              template_ban_type.value = "Name";
            }
            
            var template_ban_id = document.querySelector('#ban_id');
            template_ban_id.value = ban_row.banid;
            var modal_ban_reason = document.querySelector('#ban_reason');
            modal_ban_reason.value = ban_row.reason;
          };
        })(ban_row);

        // Populate modal info body with ban information.
        var info_dot_btn = clone.querySelector('#info_dot_btn');
        info_dot_btn.onclick = (function (element) {
          return function () {
            var info_modal_body = document.querySelector('#info_body');
            // Clear out any old data
            info_modal_body.innerHTML = "";
            for (prop in ban_row) {
              var node = document.createElement("p");
              node.innerHTML = prop.capitalize() + ": " + ban_row[prop]; 
              if (ban_row[prop]) info_modal_body.appendChild(node);
            }
          };
        })(ban_row);

        cell6.appendChild(clone);
    });
  });

  request.fail( function ( jqXHR, textStatus) {
      console.log( 'Sorry: ' + textStatus );
  });
}

function delete_ban_rule(element) {

var ban_id = element;

var request = $.ajax({
  url: api_url,
  type: 'post',
  data: { 
    "function": 'Delete_Ban_Rule',
    "ban_id": ban_id
  },
});

request.done( function (response) {
  response = JSON.parse(response);
  if (response.success == true) {
    var table = document.getElementById("ban_table").tBodies[0];
    var index_to_delete;
    for (let i = 0; i < table.rows.length; i++) {
      var table_row_ban_id = table.rows[i].value;
      if (ban_id == table_row_ban_id) {
        index_to_delete = table.rows[i].rowIndex;
        break;
      }
    }
      document.getElementById("ban_table").deleteRow(index_to_delete);
      // Check if element was last, if it was, add h1 tag ban list empty.
      if (document.getElementById("ban_table").rows.length == 1) {
        document.getElementById('ban_table').innerHTML = "";
        var h1 = document.createElement("h1");
        h1.innerHTML = "Ban list is empty."
        h1.className = "h1_empty";
        document.getElementById("main").appendChild(h1);
      } 
  }
});

request.fail( function ( jqXHR, textStatus) {
    console.log( 'Sorry: ' + textStatus );
});

}

function edit_ban_rule() {
  // Build ban object
  let ban = new Ban();
  ban.id = document.getElementById("ban_id").value;
  ban.recipient = document.getElementById("ban_recipient").value;
  // Get ban raw numeric seconds/hours/days
  ban.numeric = document.getElementById("ban_numeric").value;
  // Get ban type: uid/ip address
  ban.type = document.getElementById("ban_type").value;
  // Get ban format: seconds/hour/days
  ban.format = document.getElementById("ban_format").value;
  ban.reason = document.getElementById("ban_reason").value;
  ban.duration = ban.numeric*ban.format;
  // Make AJAX call to add ban rule, process the information.
  var response = add_ban_rule(ban);
  response = JSON.parse(response);
  alertify.set('notifier','position', 'top-center');
  if (response.success) {
    alertify.notify("Successfully added ban rule! ban id: " + response.data.banid, 'notify_success', 3);
    // Close modal
    $("#edit_modal").modal("hide");
    // Delete ban rule
    delete_ban_rule(ban.id);
    // remove table
    var table = document.getElementById('ban_table');
    var parentEl = table.parentElement;
    parentEl.removeChild(table);

    fetch_ban_list();
  } else {
    var errors = response.errors;
    errors.forEach(alertify_notify_error);
  }
}

function add_ban_rule(ban) {
  var request = $.ajax({
    url: api_url,
    async: false,
    type: 'post',
    data: { 
      "function": 'Ban_by_' + ban.type,
      "ban": JSON.stringify(ban)
    },
  });
  return request.responseText;
}

function month_formated(month) {
  month = month + 1;
  return month < 10 ? ("0" + month) : month;
}

function days_formated(days) {
  return days < 10 ? ("0" + days) : days;
}

function hours_formated(hours) {
  return hours < 10 ? ("0" + hours) : hours;
}

function minutes_formated(minutes) {
  return minutes < 10 ? ("0" + minutes) : minutes;
}

String.prototype.capitalize = function() {
    return this.charAt(0).toUpperCase() + this.slice(1);
}

</script>