<h5>Global Message</h5>
<div class="form-group" style="margin-top: 20px;">
    <input type="message" id = "message_box" class="form-control form-control-lg" placeholder="Global Message"></input>
    <button type="button" id = "button" class="btn btn-primary" onClick = 'send_Message()'>Send</button>
</div>

<script>
function send_Message() {

var msg_content = document.getElementById("message_box").value;
var request = $.ajax({
    url: api_url,
    type: 'post',
    data: { 
    "function": 'Global_Message',
    "message": msg_content
    },
});

request.done( function ( response ) {

});

request.fail( function ( jqXHR, textStatus) {
    console.log( 'Sorry: ' + textStatus );
});

}

    // Get the input field
    //var input = document.getElementById("message_box");

    // Execute a function when the user releases a key on the keyboard
    //input.addEventListener("keyup", function(event) {
        // Number 13 is the "Enter" key on the keyboard
        if (event.keyCode === 13) {
            // Cancel the default action, if needed
            event.preventDefault();
            // Trigger the button element with a click
            document.getElementById("button").click();
        }
    //});
</script>