<template id="kick_template">
  <button type="button" id="kick_button" class="btn btn-warning" data-toggle="modal" data-target="#kick_modal">Kick</button>
</template>

<!-- Modal -->
<div class="modal fade" id="kick_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Kick Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea class="form-control" id="kick_reason" placeholder="Kick reason">Kick reason</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-warning" onClick='kick_client()'>Kick</button>
      </div>
    </div>
  </div>
</div>

<script>

    function kick_client() {
        let kick = new Kick();  
        var el;
        // Get kick reason
        el = document.getElementById("kick_reason");
        kick.reason = el.value;
        // Get kick recipient.
        el = document.getElementById("select_client");
        kick.recipient = el.options[ el.selectedIndex ].value;
        // Transfer into json obj
        var kick_json = JSON.stringify(kick);
        // Make ajax request.
        var request = $.ajax({
          url: api_url,
          type: 'post',
          data: { 
            "function": 'Kick_Client',
            "kick": kick_json
          },
        });

        request.done( function (response) {
          console.log(response);
          response = JSON.parse(response);
          alertify.set('notifier','position', 'top-center');
          if (response.success) {
            alertify.notify("Successfully added kick rule! kick id: " + response.data, 'notify_success', 3);
          } else {
            var errors = response.errors;
            errors.forEach(alertify_notify_error);
          }
        });

        request.fail( function ( jqXHR, textStatus) {
            console.log( 'Sorry: ' + textStatus );
        });
    }
</script>