<template id="message_template">
  <button type="button" id="message_button" class="btn btn-primary" data-toggle="modal" data-target="#message_modal">Message</button>
</template>

<!-- Modal -->
<div class="modal fade" id="message_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Message Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>

          <div class="form-group">
            <div class="row">
            <div class="col-md-6">
            <select class="custom-select mr-sm-2 option_font_large" id="message_type">
                <option value="default_option" disabled selected>Message type</option>
                <option value="Chat" selected>Private Chat</option>
                <option value="Poke">Poke</option>
            </select>         
            </div>
            </div>
          </div>
          
          <div class="form-group">
            <textarea class="form-control" id="message_content" placeholder="Message Content">Message Content</textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onClick='send_message()'>Send</button>
      </div>
    </div>
  </div>
</div>

<script>

    function send_message() {
        let message = new Message();  
        var el;
        // Get message type { @string Chat/Poke }
        el = document.getElementById("message_type");
        message.type = el.value;
        // Get message content { @string }
        el = document.getElementById("message_content");
        message.content = el.value;
        // Get message recipient { @integer client database id }
        el = document.getElementById("select_client");
        message.recipient = el.options[ el.selectedIndex ].value;
        // Transfer into json obj
        var message_json = JSON.stringify(message);
        // Make ajax request.
        var request = $.ajax({
          url: api_url,
          type: 'post',
          data: { 
            "function": 'Message_Client',
            "message": message_json
          },
        });

        request.done( function (response) {
          response = JSON.parse(response);
          alertify.set('notifier','position', 'top-center');
          if (response.success) {
            alertify.notify("Message succesfully sent!", 'notify_success', 3);
          } else {
            var errors = response.errors;
            errors.forEach(alertify_notify_error);
          }
        });

        request.fail( function ( jqXHR, textStatus) {
            console.log( 'Sorry: ' + textStatus );
        });
    }
</script>