<div class="col-md-6" id="bdy"></div>

<style>

    .select-server {
        padding-top: 10px;
    }

  .custom-select {
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .errors {
    text-align: center;
    background-color: #ffd2d2;
    font-weight: 500;
    padding: 20px 0px 20px 0px;
  }

  #bdy {
      display: inline;
      padding-left: 0;
  }

</style>

<script>
populate_select_server();

function populate_select_server() {
    var servers;
    var api_url = "api_functions.php";

    var request = $.ajax({
        async: false,
        url: api_url,
        type: 'post',
        data: { 
        "function": 'Get_Server_List'
        },
    });

    request.done( function (response) {
        var response = JSON.parse(response);
        var markup;        
        if (response.success == true) {
            // SUCCESS
            var data = response.data;
            markup = `
            <h5 class="select-server">Select server</h5>
            <select class="custom-select mr-sm-2" id="select_server">
                <option selected>Select Server</option>
                ${data.map(data => `<option value ="${data.virtualserver_id}">${data.virtualserver_name} ${data.virtualserver_clientsonline}/${data.virtualserver_maxclients}</option>`)}
            </select>
            <button type="button" id = "button" class="btn btn-primary" onClick = 'select_server()'>Submit</button>
            `;
        } else {
            // FALSE
            var errors = response.errors;
            markup = `
            <div class="errors">
                ${errors.map(error => `<p>${error}</p>`)}
            </div>
            `;
        }

        var bdy = document.getElementById("bdy");
        bdy.innerHTML = markup;
    });

    request.fail( function ( jqXHR, textStatus) {
        console.log( 'Sorry: ' + textStatus );
    });

    load_selected_server();
}

function select_server() {
    var select = document.getElementById("select_server");
    var virtual_server_id = select.options[ select.selectedIndex ].value;

    var request = $.ajax({
        url: api_url,
        type: 'post',
        data: { 
        "function": 'Set_Virtualserver_Session_ID',
        "virtualserver_id": virtual_server_id
        },
    });

    request.done( function (response) {
        if (response == 1) window.location.replace(host + "/teamspeak/admin_panel");
    });

    request.fail( function ( jqXHR, textStatus) {
        console.log( 'Sorry: ' + textStatus );
    });
}

function load_selected_server() {
    var virtual_server_id;

    var request = $.ajax({
        url: 'auth.php',
        type: 'post',
        data: { 
        "function": 'Get_Virtualserver_Session_ID'
        },
    });

    request.done( function (response) {
        if (response != 0) {
            virtual_server_id = JSON.parse(response);
            var select = document.getElementById("select_server");
            for (let i = 0; i < select.length; i++) {
                const element = select[i];
                if (element.value == virtual_server_id) {
                    select.selectedIndex = element.index;
                }
                
            }        
        }
    });

    request.fail( function ( jqXHR, textStatus) {
        console.log( 'Sorry: ' + textStatus );
    });
}

</script>