<h5>Server load</h5>
<div class="progress">
    <div class="progress-bar" id="progress_bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<script>
roll();
function roll() {
    var request = $.ajax({
        async: false,
        url: api_url,
        type: 'post',
        data: { 
        "function": 'Server_Status'
        },
    });

    request.done( function (response) {
        var response = JSON.parse(response);
        var server = response.data;
        var online = Math.floor((Math.random() * 32) + 1);
        var max_online = server.virtualserver_maxclients;
        var percentage = online/max_online*100;
        var bar = document.getElementById("progress_bar");
        bar.style.width = percentage + "%";
        var rgb_red;
        var rgb_green;
        if (percentage < 50) {
            rgb_red =  255*percentage/50;
            rgb_green = 255;
        } else {
            rgb_red = 255;
            rgb_green = (255-255*percentage/100)*2;
        }
        bar.style.backgroundColor = "rgb(" + rgb_red + "," + rgb_green + ", 0)";
        bar.innerHTML = online + "/" + max_online;
    });

    request.fail( function ( jqXHR, textStatus) {
        console.log( 'Sorry: ' + textStatus );
    });
    setTimeout(roll, 1000*3);
}
</script>